<div class="pcc-zoomfit">
    <button data-pcc-zoom-out data-pcc-icon="pcc-icon-minus" title="<%= data.language.zoomOut %>"></button>
    <span class="pcc-zoom-percent" data-pcc-zoom-percent></span>
    <ul class="pcc-scale-dropdown" data-pcc-scale-menu>
        <li data-pcc-scale="800"><%= data.language.scaleOptions.scale800 %></li>
        <li data-pcc-scale="400"><%= data.language.scaleOptions.scale400 %></li>
        <li data-pcc-scale="200"><%= data.language.scaleOptions.scale200 %></li>
        <li data-pcc-scale="150"><%= data.language.scaleOptions.scale150 %></li>
        <li data-pcc-scale="125"><%= data.language.scaleOptions.scale125 %></li>
        <li data-pcc-scale="100"><%= data.language.scaleOptions.scale100 %></li>
        <li data-pcc-scale="75"><%= data.language.scaleOptions.scale75 %></li>
        <li data-pcc-scale="50"><%= data.language.scaleOptions.scale50 %></li>
        <div class="pcc-separator"></div>
        <li data-pcc-fit="FullWidth"><%= data.language.fitTypes.fullWidth %></li>
        <li data-pcc-fit="FullHeight"><%= data.language.fitTypes.fullHeight %></li>
        <li data-pcc-fit="FullPage"><%= data.language.fitTypes.fullPage %></li>
    </ul>
    <button data-pcc-zoom-in data-pcc-icon="pcc-icon-plus" title="<%= data.language.zoomIn %>"></button>
</div>
