<div class="pcc-page-nav">
    <button data-pcc-pagenav-first data-pcc-icon="pcc-icon-first-page" title="<%= language.firstPage %>"></button>
    <button data-pcc-pagenav-prev data-pcc-icon="pcc-icon-previous-page" title="<%= language.previousPage %>"></button>
    <span data-pcc-pagenav-number>1</span>
    <button data-pcc-pagenav-next data-pcc-icon="pcc-icon-next-page" title="<%= language.nextPage %>"></button>
    <button data-pcc-pagenav-last data-pcc-icon="pcc-icon-last-page" title="<%= language.lastPage %>"></button>
</div>
