<div class="pcc-form-tools">
    <button data-pcc-component="buttonset" 
            data-pcc-name="mousetools" 
            data-pcc-value="AccusoftPanAndEdit"
            data-pcc-toggle="on"
            class="pcc-button">
        <span data-pcc-icon="pcc-icon-hand"></span>
        <label><%= language.pan %></label>
    </button>
    <button data-pcc-component="buttonset" 
            data-pcc-name="mousetools" 
            data-pcc-value="SignatureTemplate"
            data-pcc-toggle="on,sticky"
            class="pcc-button">
        <span data-pcc-icon="pcc-icon-signature"></span>
        <label><%= language.signature %></label>
    </button>
    <button data-pcc-component="buttonset" 
            data-pcc-name="mousetools" 
            data-pcc-value="InitialsTemplate"
            data-pcc-toggle="on,sticky"
            class="pcc-button">
        <span data-pcc-icon="pcc-icon-initials"></span>
        <label><%= language.initials %></label>
    </button>
    <button data-pcc-component="buttonset" 
            data-pcc-name="mousetools" 
            data-pcc-value="TextTemplate"
            data-pcc-toggle="on,sticky"
            class="pcc-button">
        <span data-pcc-icon="pcc-icon-text-box"></span>
        <label><%= language.textbox %></label>
    </button>
    <button data-pcc-component="buttonset" 
            data-pcc-name="mousetools" 
            data-pcc-value="DateTemplate"
            data-pcc-toggle="on,sticky"
            class="pcc-button">
        <span data-pcc-icon="pcc-icon-calendar"></span>
        <label><%= language.date %></label>
    </button>
    <button data-pcc-component="buttonset" 
            data-pcc-name="mousetools" 
            data-pcc-value="CheckboxTemplate"
            data-pcc-toggle="on,sticky"
            class="pcc-button">
        <span data-pcc-icon="pcc-icon-checkbox"></span>
        <label><%= language.checkbox %></label>
    </button>
</div>