
@{
    ViewBag.Title = "PrizmDoc";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<h2>PrizmDoc</h2>

<a href="/fullviewer?document=https://www.ebi.ac.uk/luscombe/docs/imia_review.pdf">PDF Document</a>

<div class="row">
    <iframe class="col-lg-12 col-md-12 col-sm-12" style="height:500px;" src="/fullviewer?document=https://www.ebi.ac.uk/luscombe/docs/imia_review.pdf" scrolling="auto"></iframe>
</div>

<script type="text/javascript" src="~/viewers/splash/assets/js/splash-config.js"></script>
<script type="text/javascript" src="~/viewers/splash/assets/js/main-splash.js"></script>